# Lightwell tier: validated (demo) | remediated (subscription)
LIGHTWELL_TIER=validated

# Demo validated URL (default). For subscription remediated use product URL.
# validated demo: https://packages.redhat.com/api/pulp-content/public-lightwell-demo/java/validated/
# validated prod: https://packages.redhat.com/lightwell/java/validated/
# remediated:     https://packages.redhat.com/lightwell/java/remediated/
LIGHTWELL_URL=https://packages.redhat.com/api/pulp-content/public-lightwell-demo/java/validated/

LIGHTWELL_USERNAME=XXXXXXX|service-account-name
LIGHTWELL_TOKEN=

QUAY_USERNAME=maximilianopizarro+quaydevfile
QUAY_PASSWORD=
QUAY_IMAGE=quay.io/maximilianopizarro/demo-lightwell

JBOSS_ADMIN_USER=admin
JBOSS_ADMIN_PASSWORD=Admin#123
